@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html * {
    font-family:'Pontano Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgba(31, 31, 31, 0.849);
}


header{
    position:relative;
    z-index:0;
    background-color: rgb(255, 240, 221);
    padding-left:40px;
    width:100%;
    height:33%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.164), -5px 3px 5px rgba(0, 0, 0, 0.164);
    font-size: 1.25rem;

}





.bname{
    font-style:italic;
    text-decoration: underline;
    max-width: 160px;
    overflow:hidden;
    text-overflow: ellipsis;
    max-height: 105px;
    white-space: nowrap;
}


.bname:hover{
overflow: auto; 
height: 45px;
width: 10em;
background: whitesmoke;
text-overflow:unset;
}


.libcard{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border: 3px solid rgba(250, 233, 233, 0.74);
    border-radius: 25px;
    height: auto;
    padding:10px;
    background-color:rgb(250, 156, 171);
    font-size: 1.1rem;
    font-weight: bold;
}

.libcard * {
    background-color: whitesmoke;
    padding:7px;
    border: 1px solid whitesmoke;
    border-radius: 12px;
    display:block;
    text-align: center;


}


.bookcardreadstatus{
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:80px;
}


body{
    margin:0px;
    height: 100vh;
    width: 100%;
}

input{
    box-sizing: border-box;
    width: 250px;
    height:40px;
    font-size:1.25rem;
    background-color:rgb(250, 156, 171);
    border: 1px solid rgb(250, 231, 225);
    border-radius: 10px;
    padding: 10px;
}

a {
    color:hotpink;
}

content{
    display:flex;
    height:100%;
    width:100%;
}



.banner {
    margin:150px;
    height:200px;
    width:100%;
    background-color: rgba(255, 70, 70, 0.527);
    display:flex;
    justify-content: center;
    align-items:center;

}

container {
    position:relative;
    z-index: 0;
    display:grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 250px) ;
    column-gap: 10px;   
    row-gap: 15px;
    height: 65%;
    padding-left: 40px;
    width: 100%;
    background-color:rgb(250, 231, 225);
    box-shadow: 0px 3px 5px rgba(43, 33, 33, 0.164), 0px -3px 5px rgba(0, 0, 0, 0.164), -5px 3px 5px rgba(0, 0, 0, 0.164);
    font-size:1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer{
    position:relative;
    padding-top:40px;
    z-index: 2;
    padding-left:40px;
    height:22%;
    background-color: rgb(255, 240, 221);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.164), 0px -3px 5px rgba(0, 0, 0, 0.164), -5px 3px 5px rgba(0, 0, 0, 0.164);
    width:100%;

}

label{
    letter-spacing: 2px;
    font-size: 1rem;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:60%;
}

button {
    background-color: rgb(250, 156, 171);
    font-size: 1.5rem;
    padding: 12px; 
    border-radius: 15px;
    border: 1px solid rgba(245, 245, 245, 0);
    color:rgba(31, 31, 31, 0.849);
    position:relative;
    z-index: 1;
}

img{
    opacity:0.9;
    height: 6em;
    width: 6em;
    filter: blur(0.5px);
}

.companytxt{
    font-family: 'Quicksand','Pontano Sans','Trebuchet MS';
    letter-spacing:0.3em;
    font-size: 3rem;
    padding-left: 10px;
    color:white;


}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color:rgba(31, 31, 31, 0.849);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  #readstat{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    max-width: 60px;
    transform: scale(0.75);
  }
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    z-index: 9;
    padding: 10px;
  }
  
  /* Add styles to the form container */
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    height: 425px;
    padding: 15px;
    background-color: whitesmoke;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: rgb(255, 0, 106);
    position: relative;
    top:-405px;
    right:-130px;
    height:30px;
    width: 30px;
    padding:0px;
    text-align:center;
    border-radius:10px;
    font-size:smaller;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover{
    opacity: 1;
  }

  .form-popup #addb{
      width:100%
  }


 #addb:hover, #addbtn:hover, .revbtn:hover{
    opacity: 0.8; 
  }

  .revbtn{
    height:40px;
    font-size: 1rem;
    font-weight: 1000;
    background-color:rgba(247, 65, 104, 0.952);
    border: 0px;
}